body {
    font-family: Arial, Helvetica, sans-serif;
}

#welcome {
    /* background-image:url(../assets/backgrounds/h_img.jpg) ; */
    background: linear-gradient(#9da28a11, #a8aab103), url(../assets/backgrounds/h_img.jpg);
    color: aliceblue;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
   
}

#aboutUs{
    color: black;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
   
}

#services {
    background: linear-gradient(#9da28a11, #a8aab103), url(../assets/backgrounds/s_image.jpg);
    color: aliceblue;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
   
}

#todo {
  
    color: black;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center; 
}

#contactus {
    /* background: linear-gradient(#9da28a11, #a8aab103), url(../assets/backgrounds/c_image.jpg); */
    background: url(../assets/backgrounds/c_image.jpg);
    color: aliceblue;
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
}
#name{
    margin-right: 5%;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;

}
#content-box{
    align-items: center;
    justify-content: center;
}

#message{
    margin-top: 1%;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
}
#email{
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: red;
}
footer img{
    margin: 1%;
}
#submit{
  align-items: baseline;  

}